ol {
    padding: 0 2em;
}

li {
    padding: 0.5em 0 0 0;
}

a {
    padding: 0 0.5em;
    border-radius: 0.5em;
    background-color: #000;
    color: #FFF;
    display: inline-block;
}

a:active {
    background-color: #FFF;
    color: #000;
}

.none {
    display: none;
}

body {
    background-color: #FFF;
    inline-size: 100%;
    block-size: 100%;
    overscroll-behavior: none;
}

html {
    color: #000;
    inline-size: 100%;
    block-size: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16pt;
}

* {
    margin: 0;
    padding: 0;
    border-style: none;
    font-size: 1em;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 2em;
    word-spacing: 0;
    letter-spacing: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    text-decoration: none;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
